<div class="home-first-row" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  <div class="home-description" fxLayout="column">
    <h1>Créez votre premier quizz sur mesure !</h1>
    <p>Aprennez en plus sur des tas de sujets ou partagez votre savoir avec <span>Balance ton Quizz</span> !</p>
  </div>
  <img class="home-img" src="assets/quizz_home.svg">
</div>

<h2>Les quizz de la communauté</h2>
<app-search-quizz
  (search)="search($event)">
</app-search-quizz>
<mat-chip-list [multiple]="true">
  <mat-chip *ngFor="let theme of themes"
            [selected]="selectedThemes.includes(theme)"
            (click)="selectThemeFilter(theme)">
    {{theme.title}}
  </mat-chip>
</mat-chip-list>
<div fxLayout="row wrap" fxLayoutGap="10px grid" *ngIf="quizzes; else noQuizz">
  <div *ngFor="let quizz of quizzes | quizzFilter: searchText: selectedThemes" fxFlex.gt-md="25" fxFlex="33.333">
    <mat-card>
      <img *ngIf="quizz.imageName" mat-card-image [src]="getImageUrl(quizz)">
      <mat-card-title>{{quizz.title}}</mat-card-title>
      <mat-card-subtitle>{{quizz.theme.title}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button>Répondre</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #noQuizz>
  Aucun quizz trouvé.
</ng-template>

