.home-first-row {
  margin-top: 50px;
}

/*.home-img {
  max-height: 400px;
}*/


.home-description {
  font-family: 'DM Sans', sans-serif;
  top: 500px;
  margin-bottom: 60px;

  .home-title {
    font-weight: bold;
    font-size: 55px;
  }

  .home-description-parag {
    font-size: 20px;
    margin-top: 0;
  }
}

.quizzContainer{
  padding-top: 10px;
  padding-bottom: 30px;
}

.filtersContainer
{
  padding-bottom: 10px;
}
