::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.button-container
{
  margin-top: 10px;
}

.selectedTheme
{
  border: 1px solid blue !important;
}

mat-card {
  cursor: grab;
}
