<mat-card [formGroup]="questionForm">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <mat-card-title fxFlex fxLayout="row">
        <mat-form-field fxFlex>
          <mat-label>Question n°{{index}}</mat-label>
          <input matInput formControlName="title" type="text" required>
        </mat-form-field>
      </mat-card-title>
      <button *ngIf="index > 1" class="delete-button" mat-icon-button color="warn" (click)="removeQuestion()">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <mat-slide-toggle formControlName="multiple">Réponses multiples</mat-slide-toggle>
  </div>
  <app-answer *ngFor="let answerForm of getAnswerControls(); index as i" [answerForm]="answerForm"
              (isCorrectChange)="onIsCorrectChange(i)"
              [index]="(i + 1)" (deleteAnswer)="deleteAnswer(i)"
              [uniqueAnswer]="!questionForm.controls.multiple.value"></app-answer>
  <div fxLayout="row" fxLayoutAlign="center">
    <button type="button" mat-stroked-button (click)="addEmptyAnswer()">
      <mat-icon>add</mat-icon>
      Ajouter une réponse
    </button>
  </div>
</mat-card>
