<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" [opened]="isDrawerOpen" [disableClose]="true" role="navigation">
    <div class="sidenav-title" fxLayout="row" fxLayoutAlign="center">
      Balance ton Quizz
    </div>
    <div fxLayout="column">
      <mat-nav-list>
        <mat-list-item *ngIf="!isAuthenticated()" [routerLink]="['/register']" routerLinkActive="active">
          S'inscrire
        </mat-list-item>
        <mat-list-item *ngIf="!isAuthenticated()" [routerLink]="['/login']" routerLinkActive="active">
          Se connecter
        </mat-list-item>
        <mat-list-item *ngIf="isAuthenticated()" (click)="logout()">
          Se déconnecter
        </mat-list-item>
        <mat-list-item [routerLink]="['/']" routerLinkActive="active">
          <mat-icon matListIcon>home</mat-icon>
          Accueil
        </mat-list-item>
        <mat-list-item [routerLink]="['/quizzes/create']" routerLinkActive="active">
          <mat-icon matListIcon>note_add</mat-icon>
          Nouveau quizz
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
