<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" [opened]="isDrawerOpen" role="navigation">
    <div class="sidenav-title" fxLayout="row" fxLayoutAlign="center">
      Balance ton Quizz
    </div>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <a routerLink='/'>Accueil</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
