<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Address>localhost:4200</Address>
  <timePause>5000</timePause>
  <testcases>
    <suscribeTestcase>
      <Username>lha17</Username>
      <Password>lha17</Password>
    </suscribeTestcase>
    <loginTestcase>
      <Username>lha17</Username>
      <Password>lha17</Password>
    </loginTestcase>
    <createQuizzTestcase>
      <title>TA_quizz</title>
      <description>Quizz de test pour tests automatique</description>
      <pathPicture>D:\Documents\GITrepos\balance-ton-quizz\TestBalanceTonQuizz\TestBalanceTonQuizz\bin\Debug\netcoreapp3.1\ane.png</pathPicture>
      <theme>Histoire</theme>
      <question1>Quelle est la vitesse d'un TA</question1>
      <reponse1>Très rapide</reponse1>
      <reponse1.2>Très très rapide</reponse1.2>
      <question2>Quel va être le résultat</question2>
      <reponse2>Correct</reponse2>
    </createQuizzTestcase>
  </testcases>
</Config> 